<div class="center">
  <mat-card class="half-width">
    <mat-card-header class="center">
      <mat-card-title>Edit register details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #registerForm="ngForm" class="center">
        <table cellspacing="0" class="full-width">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input matInput placeholder="Name" [(ngModel)]="riskRegister.name" maxlength="30" name="name" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="20"
                matInput [(ngModel)]="riskRegister.description" name="description" required></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
    <mat-card-actions class="center">
      <button mat-raised-button color="primary" (click)="save()" type="submit" [disabled]="registerForm.invalid">Save</button>
    </mat-card-actions>
  </mat-card>
</div>