<div class="center">
  <mat-card class="half-width">
    <mat-card-header class="center">
      <mat-card-title>
        {{project.name}}
        <mat-icon class="deleteICon" [routerLink]="['/projects/edit', project.id]">edit</mat-icon> 
        <mat-icon class="deleteICon" (click)="delete(project.id)">delete</mat-icon> 
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>ID: {{project.id}}</p>
      <div class="container">
        <p><b>Description: </b>{{project.description}}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="half-width register-list">
    <mat-card-header class="center">
      <mat-card-title>Risk registers:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked list" *ngFor="let register of project.riskRegisters" >
        <mat-chip [routerLink]="['/registers/', register.id]" class="chip-height center">
          <div>
            <h3 matLine>{{register.name}} (id: {{register.id}}) </h3>
            <p matLine>{{register.description}}</p>
          </div>
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
</div>
